make a new workout

<form action="./" method="post">
  <div>
    <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
    <div class="mt-2">
      <input type="Date" name="date" id="date" placeholder="Squat">
    </div>
  </div>
  <input type="submit">
</form>

