
<br>
Workout A
- Squat
- Bench
- Row



<form action="workouts" method="post">
<input type="hidden" id="type" name="type" value="A">
    <button type="submit" class="mt-8 w-full flex justify-center py-3 px- border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-green-900 focus:outline-none">
    Begin new workout A
    </button>
</form>
<br>
<br>
<br>

<br>

<hr>
Workout B
- Deadlift
- OHP
- Lat pulldown

<form action="workouts" method="post">
<input type="hidden" id="type" name="type" value="B">

    <button type="submit" class="mt-8 w-full flex justify-center py-3 px- border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-green-900 focus:outline-none">
    Begin new workout B
    </button>
</form>
