<div class="text-7xl">Welcome to Tectonic Plates</div>

<div class="mt-16 columns-2">
  <div class="col">
    <a href="/workouts/new" class="ml-auto flex items-center gap-x-1 rounded-md bg-lime-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500">
      <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
      </svg>
      Start a new workout
    </a>
  </div>
  <div class="col">
    <a href="/workouts/" class="mt-8 ml-auto flex items-center gap-x-1 rounded-md hover:bg-lime-500 px-3 py-2 text-sm font-semibold text-white shadow-sm bg-sky-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500">
      <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
      </svg>
      Continue a workout
    </a>
  </div>
</div>
