<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= assets(:css) %>
    <%= assets(:img) %>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- HTML Meta Tags -->
    <title>tectonic plates, a lifting app</title>
    <meta name="description" content="Lift heavier with tectonic plates. Track your workouts and progress.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://tectonicplates.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="tectonic plates, a lifting app">
    <meta property="og:description" content="Lift heavier with tectonic plates. Track your workouts and progress.">
    <meta property="og:image" content="https://tectonic.onrender.com/img/screenshot.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="tectonicplates.app">
    <meta property="twitter:url" content="https://tectonicplates.app">
    <meta name="twitter:title" content="tectonic plates, a lifting app">
    <meta name="twitter:description" content="Lift heavier with tectonic plates. Track your workouts and progress.">
    <meta name="twitter:image" content="https://tectonic.onrender.com/img/screenshot.jpeg">

    <!-- Pixel Code for https://app.tinyanalytics.io/ -->
    <script defer src="https://app.tinyanalytics.io/pixel/KyJ6JipBW9No4r00"></script>
    <!-- END Pixel Code -->

    <script src="/js/chartkick.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/chartjs-adapter-date-fns.bundle.js"></script>
  </head>
  <body>
  <%= render('nav') %>
    <main>
      <div class="max-w-5xl mx-auto px-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
