<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= assets(:css) %>
    <%= assets(:img) %>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>tectonic plates, a lifting app</title>
  </head>
  <body>
  <%= render('nav') %>
    <main>
      <div class="max-w-5xl mx-auto px-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
