<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="sm:ml-6 sm:flex sm:space-x-8">
        <a href="/home" class="inline-flex items-center border-b-2 px-1 pt-1 text-xl font-medium text-gray-900">tectonic plates</a>
          <%- if @account_id %>
            <a href="/workouts" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-xl font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Workouts</a>
            <a href="/exercises" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-xl font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Exercises</a>
            <a href="<%= rodauth.logout_path %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-xl font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Log out</a>

          <%- else %>
            <a href="<%= rodauth.login_path %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-xl font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Sign in</a>
            <a href="<%= rodauth.create_account_path %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-xl font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Sign up</a>
          <%- end %>
        </div>
      </div>
    </div>
  </div>
</nav>
