<form action="" method="post">
    Weight: <input type="number" id="weight" name="weight" autocomplete="off"><br>
    Reps: <input type="number" id="reps" name="reps" autocomplete="off"><br>
    Completed? <input type="checkbox" id="is_completed" name="is_completed" value="true"><br>
    <input type="submit">
</form>
