<form action="" method="post">
    Weight: <input type="number" placeholder="80" id="weight" name="weight"><br>
    Reps: <input type="number" placeholder="5" id="reps" name="reps"><br>
    <input type="submit">
</form>
