<table>
  <%- @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise[:id] || "" %></td>
      <td><%= exercise[:name] || "" %></td>
    </tr>
  <%- end %>
</table>
<a href="exercises/new">Add a new exercise</a>
