<table>
  <%- @exercises.each do |exercise| %>
    <tr>
      <a href="exercises/<%= exercise[:id] %>">
        <%= exercise[:name] %>
      </a>
    </tr>
  <%- end %>
</table>
<a href="exercises/new">Add a new exercise</a>
