<table>
  <%- @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise[:id] %></td>
      <td><%= exercise[:name] %></td>
      <td>
        <a href="/workouts/<%= @workout[:id] %>/exercises/<%= exercise[:id] %>/">
          Show
        </a>
      </td>
      <td>
    </td>
    </tr>
  <%- end %>
</table>
<a href="new">Add a new exercise</a>
