create a new exercise

<form action="./new" method="post">

<div>
  <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
  <div class="mt-2">
    <input type="name" name="name" id="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Squat">
  </div>
</div>
<div>
  <label for="goal_weight" class="block text-sm font-medium leading-6 text-gray-900">Goal weight</label>
  <div class="mt-2">
    <input type="number" name="goal_weight" id="goal_weight" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="60"
</div>
<input type="submit">

</form>
