
<div class="text-3xl">
  Exercise:
  <%= @exercise[:name] %>
  <br>
</div>
<hr>

<%- @exercise.sets.each do | set | %>
  <hr>
  reps: <%= set[:reps] %>
  <br>
  weight: <%= set[:weight] %>

<%- end %>
